{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <img class="img-fluid" src="{{ image_black }}">
    <img class="img-fluid" src="{{ image_colored }}">
  </div>
  <form method="POST" action="/" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="input_image">
    <button type="submit">Колоризовать</button>
  </form>


  <style>

    .container {
      display: flex;
      width: 100%;
    }

    .container img {
      margin: 20px;
      flex-basis: 50%;
      flex-grow: 1;
      width: 45%;
    }

    .img-fluid {
      max-width: 100%;
      height: auto;
    }

  </style>
{% endblock %}